
.App{
  padding-top: 100px;
  padding-left: 100px;
  padding-right: 100px;

  display: grid;
  grid-template-columns: repeat(4,1fr);
  /* max-width: 600px; */
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.s-2{
  grid-column:span 2;
}
button{
  padding:30px ;
  outline: none;
  
  box-shadow: 0 0 5px gray;
}
button:hover{
  background-color: white;

}
.output{
background-color: rgb(4, 4, 14);
color: white;
grid-column:span 4;
height: 50px;
display: flex;
flex-direction: column;
gap: 5px;
align-items: flex-end;
word-wrap: break-word;
word-break: break-all;

}
.c-op{
font-size: 20px;
}